@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: hidden;
    height: 100%;

    :is(html[class~='dark'] body) {
      background-image: url('/docs/docs-background.png');
      background-position: bottom right;
      background-repeat: no-repeat;
    }

    :is(html[class~='dark'] .nextra-nav-container-blur) {
      background: transparent !important;
    }

    :is(html[class~='dark'] aside > div:last-child) {
      background: transparent !important;
      box-shadow: none;
    }
  }

  body {
    scroll-behavior: smooth;
    word-break: break-word;
    overflow: auto;
    height: 100%;
  }
}
