@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
  .theme {
    --animate-ripple: ripple var(--duration,2s) ease calc(var(--i, 0)*.2s) infinite;
  }

}

@theme inline {
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);

    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);

    }
  }
}